.container{
    background-color: white;
    width: 100%;
}
.mat-form-field{
    width: 100%;
}

.my-form h2{
    color: blue;
    /* padding: 10px; */
    margin-top: 10px;
    text-align: center;
}
.mat-raised-button{
    margin-left: 10px;
    margin-bottom: 10px;
}