<button (click)="goBack()" mat-icon-button color="primary">
    <mat-icon>login</mat-icon>Login
  </button> 
<div class="container">
    <h1>List of Registered Books</h1>
    <mat-form-field id="filter" appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
       
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong> ID </strong> </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
    
       
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Book Name</b> </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
    
        
        <ng-container matColumnDef="author">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Author Name</strong> </th>
          <td mat-cell *matCellDef="let row"> {{row.author}} </td>
        </ng-container>

        
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong> Book Type</strong> </th>
          <td mat-cell *matCellDef="let row"> {{row.type}} </td>
        </ng-container>
  
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Price</strong> </th>
          <td mat-cell *matCellDef="let row">${{row.price}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[6, 15, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  
  </div>
  <router-outlet>

</router-outlet>
  